
<!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href={{path('app_acceuil')}} class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">NayirHotel</h1>
                    </a>
                </div>
                <div class="col-lg-9 border border-dark">
                    
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="#" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">NayirHotel</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href={{ path('app_acceuil') }} class="nav-item nav-link active">Acceuil</a>
                                <a href="" class="nav-item nav-link">A Propos</a>
                                <a href="" class="nav-item nav-link">Services</a>
                                <a href="" class="nav-item nav-link">Chambres</a>
                                <a href={{path('app_contact')}} class="nav-item nav-link">Contact</a>
                                <a href={{ path('admin') }} class="nav-item nav-link">Admin</a>
                            </div>
                            <!-- Conteneur pour les boutons de connexion et de déconnexion -->
                            <div class="navbar-nav ml-auto py-0 ">
                                <a class='btn btn-primary me-2' href={{ path('app_login') }}>Connexion</a>
                                <a class='btn btn-secondary me-2 d-none d-lg-block' href={{ path('app_register') }}>Inscription</a>
                            </div>
                            
                        </div>
                        
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->
