<!-- Room Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center " >
                    <h6 class="section-title text-center text-primary text-uppercase">Nos Chambres</h6>
                    <h1 class="mb-5">Explorer  <span class="text-primary text-uppercase"> nos chambres</span></h1>
                </div>
                <div class="row g-4">

                    {% for chambre in chambres|slice(0, 3) %}
                        <div class="col-lg-4 col-md-6 " >
                            <div class="room-item shadow rounded overflow-hidden">
                                <div class="position-relative">
                                {% for image in chambre.images|slice(0, 1) %}
                                    <img class="img-fluid"  src="{{ vich_uploader_asset(image,'imageFile') }}" alt="Image">
                                {% endfor %}
                                    <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">{{ chambre.prix / 100 }} €/Nuit</small>
                                </div>
                                <div class="p-4 mt-2">
                                    <div class="d-flex justify-content-between mb-3">
                                        <h5 class="mb-0">{{chambre.typeDeChambre.nom}}</h5>
                                        <div class="ps-2">
                                            {% set averageNote = chambre.noteMoyenne %}
                                                {% for i in 1..5 %}
                                                    {% if i <= averageNote %}
                                                        <i class="bi bi-star-fill text-primary"></i> {# Étoile pleine #}
                                                    {% elseif i <= averageNote + 0.5 %}
                                                        <i class="bi bi-star-half text-primary"></i> {# Demi-étoile #}
                                                    {% else %}
                                                        <i class="bi bi-star text-primary"></i> {# Étoile vide #}
                                                    {% endif %}
                                                {% endfor %}
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap mb-3">
                                        <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>{{chambre.lits}} lits</small>
                                        <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>{{chambre.sallesDeBain}} Salle de bains</small>
                                        {% for service in chambre.services %}
                                        <small> {{service.nomService}} </small> 
                                        {% if not loop.last %}, {% endif %}  
                                        {% endfor %}
                                        
                                    </div>
                                    <p class="text-body mb-3">{{chambre.typeDeChambre.description}}</p>
                                    <div class="d-flex justify-content-between">
                                        <a class="btn btn-sm btn-primary rounded py-2 px-4" href={{ path('app_chambre_show',{'id':chambre.id}) }}>Voir détail</a>
                                        <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Réserver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
<!-- Room End -->