{% extends 'base.html.twig' %}

{% block title %}Liste des chambres{% endblock %}

{% block body %}
    <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/asset/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Nos chambres</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href={{path('app_acceuil')}}>Acceuil</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Chambre</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
    

        <div class="container-xxl py-5">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12 col-lg-4">
                        <div class="form mb-5">
                            {{ form_start(form) }}
                                <div class="form-group mb-4">
                                    <div class="row g-0">
                                        {{ form_label(form.dateArrivee,'Date Arrivée') }}
                                        <div class="col-6">
                                            {{ form_widget(form.dateArrivee, {'attr': {'class': ' form-control-sm datepicker', 'placeholder': 'Date d\'arrivée' }}) }} 
                                        </div>
                                        <div class="col-6">
                                            {{ form_widget(form.dateDepart, {'attr': {'class': ' form-control-sm datepicker', 'placeholder': 'Date de départ' }}) }}
                                        </div>
                                        
                                        
                                    </div>
                                    
                                </div>
                                <div class="form-group mb-4">
                                    <div class="row g-0">
                                        {{ form_label(form.capaciteAdulte,'Invités') }}
                                        <div class="col-6">
                                             {{ form_widget(form.capaciteAdulte, {'attr': {'class': ' form-control-sm', 'placeholder': 'Nombre d\'adultes'}}) }}
                                        </div>
                                        <div class="col-6">
                                            {{ form_widget(form.capaciteEnfant, {'attr': {'class': ' form-control-sm', 'placeholder': 'Nombre d\'enfants'}}) }}
                                        </div>
                                    
                                    </div>
 
                                </div>
                                <div class="form-group">
                                <button type="submit" class="btn btn-primary w-100">Rechercher</button>
                                </div>
                                
                            {{ form_end(form) }}
                            </div>
                        
            
                    </div>

                    <div class="col-12 col-lg-8 ">
                        {% for chambre in chambres  %}
                            
                        
                            <div class="single-room-area shadow-sm  rounded d-md-flex align-items-center mb-3 ">
                                <div class="room-thumbnail">
                                {% for image in chambre.images |slice(0, 1) %}
                                    <img  class="img-fluid rounded w-100 "  src="{{ vich_uploader_asset(image,'imageFile') }}" alt="Image">
                                {% endfor %}
                                </div>
                                <div class="p-4 mt-2">
                                    <div class="d-flex  mb-3">
                                        <h5 class="mb-0">{{chambre.typeDeChambre.nom}}</h5>
                                        <div class="ps-5">
                                            {% set Note = chambre.noteMoyenne %}
                                                {% for i in 1..5 %}
                                                    {% if i <= Note %}
                                                        <i class="bi bi-star-fill text-primary"></i> {# Étoile pleine #}
                                                    {% elseif i <= Note + 0.5 %}
                                                        <i class="bi bi-star-half text-primary"></i> {# Demi-étoile #}
                                                    {% else %}
                                                        <i class="bi bi-star text-primary"></i> {# Étoile vide #}
                                                    {% endif %}
                                                {% endfor %}
                                        </div>
                                    </div>
                                    <h6><span class="bg-primary text-white rounded py-1 px-3 ">{{ chambre.prix / 100 }} €/Nuit</span></h6>
                                    <div class="d-flex flex-wrap mb-3 mt-4">
                                        <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>2 lits</small>
                                        <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>3 Salle de bains</small>
                                        <small> Services: {% for service in chambre.services %} {{service.nomService}}{% if not loop.last %}, {% endif %}{% endfor %}</small> 
                                        
                                        
                                    </div>
                                    <p class="text-body mb-3">{{chambre.typeDeChambre.description}} </p>
                                    <div class="d-flex justify-content-between">
                                        <a class="btn btn-sm btn-primary rounded py-2 px-4" href={{ path('app_chambre_show',{'id':chambre.id}) }}>Voir détail</a>
                                        <a class="btn btn-sm btn-dark rounded py-2 px-4" href={{ path('app_chambres_reserver',{'id':chambre.id}) }}>Réserver</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}        
  
                    </div>

                    
                </div>
                    
                </div>
            </div>
        </div>



    
{% endblock %}
