{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
    <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/asset/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Contact</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href={{path('app_acceuil')}}>Acceuil</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
    
    <div class="container">
        <div class="text-center " >
            <h6 class="section-title text-center text-primary text-uppercase">Contacter nous</h6>
            <h1 class="mb-5"><span class="text-primary text-uppercase">Nous Contactez</span> pour toute question</h1>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row g-4">
            <div class="col-md-6" >

            <iframe class="position-relative rounded w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.2091527443667!2d44.39653819286463!3d-12.166159181349835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18a1cd83f56addb3%3A0x1f17d23729c83e14!2sMutsamudu!5e0!3m2!1sfr!2sfr!4v1714852030853!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
            <div class="col-md-6">
                {{ form_start(form) }}
                    <div class="row g-3">
                        <div class="col-md-6">
                            {{ form_widget(form.nom,{'attr':{'placeholder':'Votre nom'}}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.email,{'attr':{'placeholder':'Votre E-mail'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.sujet,{'attr':{'placeholder':'Sujet'}}) }}
                        </div>
                        <div class="col-12">
                            {{ form_widget(form.message,{'attr':{'placeholder':'Votre message','style': 'height: 300px;'}}) }}
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Envoyer le message</button>
                        </div>
                    </div>
                {{ form_end(form) }}
                
            </div>
        
        </div>
    </div>

    
{% endblock %}
