{% extends 'base.html.twig' %}

{% block title %}Mes Réservations{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Mes Réservations</h1>

    {% if reservations is empty %}
        <p>Vous n'avez aucune réservation.</p>
    {% else %}
        <table class="table table-primary border-dark w-75 mx-auto">
            <thead>
                <tr>
                    
                    <th>Chambre</th>
                    <th>Date d'arrivée</th>
                    <th>Date de départ</th>
                    <th>Nombre d'adultes</th>
                    <th>Nombre d'enfants</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        
                        <td>{{ reservation.chambre.typeDeChambre.nom }}</td>
                        <td>{{ reservation.dateArrive ? reservation.dateArrive|date('d/m/Y') : 'N/A' }}</td>
                        <td>{{ reservation.dateDepart ? reservation.dateDepart|date('d/m/Y') : 'N/A' }}</td>
                        <td>{{ reservation.capaciteAdulte }}</td>
                        <td>{{ reservation.capaciteEnfant }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
