{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    
<!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/asset/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Reservation</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href={{path('app_acceuil')}}>Acceuil</a></li>
                            <li class="breadcrumb-item"><a href={{path('app_acceuil')}}>Chambre</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Reservation</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
<!-- Page Header End -->



<!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="text-center " >
                        <h6 class="section-title text-center text-primary text-uppercase">RÉSERVATION DE CHAMBRE</h6>
                        <h1 class="mb-5">Réserver une <span class="text-primary text-uppercase"> CHAMBRE DE LUXE</span></h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-3">
                            {% for image in chambre.images %}
                                {% if loop.index == 1 %}
                                    <div class="col-6 text-end">
                                        <img class="img-fluid rounded w-75" src="{{ vich_uploader_asset(image, 'imageFile') }}" style="margin-top: 25%;">
                                    </div>
                                {% elseif loop.index == 2 %}
                                    <div class="col-6 text-start">
                                        <img class="img-fluid rounded w-100" src="{{ vich_uploader_asset(image, 'imageFile') }}">
                                    </div>
                                {% elseif loop.index == 3 %}
                                    <div class="col-10 text-end">
                                        <img class="img-fluid rounded w-50" src="{{ vich_uploader_asset(image, 'imageFile') }}" >
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                    {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    {{ form_start(form) }}
                        <div class="row g-3">
                            <div class="col-md-6">
                                {{ form_widget(form.nom, {'attr':{'class':'form-control p-2', 'placeholder': 'Votre nom'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_widget(form.prenom, {'attr':{'class':'form-control p-2', 'placeholder': 'Votre prénom'}}) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_widget(form.email, {'attr':{'class':'form-control p-2', 'placeholder': 'Votre adresse mail'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_widget(form.dateArrive,{'attr':{'class':' form-control datepicker p-2', 'placeholder': 'Date arrivée'}}) }}                            
                                {{ form_errors(form.dateArrive) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_widget(form.dateDepart,{'attr':{'class':' form-control datepicker p-2', 'placeholder': 'Date Départ'}}) }}
                            {{ form_errors(form.dateDepart) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                    {{ form_widget(form.capaciteAdulte, {'attr': {'class': ' form-control p-2', 'placeholder': 'Adultes'}}) }}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ form_widget(form.capaciteEnfant, {'attr': {'class': ' form-control p-2', 'placeholder': 'Enfants'  }}) }}
                            </div>
                            <div class="col-12">
                                {{ form_widget(form.demandeSpeciale, {'attr': {'class': ' form-control p-2', 'placeholder': 'Demande spéciale'  }}) }}
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3 rounded" type="submit">Réserver maintenant</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
   

{% endblock %}


